# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
nf-core-testsubworkflow/.devcontainer/devcontainer.json
nf-core-testsubworkflow/.editorconfig
nf-core-testsubworkflow/.nextflow.log.1
nf-core-testsubworkflow/.nextflow.log.2
nf-core-testsubworkflow/.nextflow.log.3
nf-core-testsubworkflow/.nextflow.log.4
nf-core-testsubworkflow/.nextflow.log.5
nf-core-testsubworkflow/.nextflow.log.6
nf-core-testsubworkflow/.nextflow.log.7
nf-core-testsubworkflow/.nextflow.log.8
nf-core-testsubworkflow/.nextflow.log.9
nf-core-testsubworkflow/.nextflow/cache/09bf5772-7f81-4a90-b032-5b13856c074a/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/09bf5772-7f81-4a90-b032-5b13856c074a/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/09bf5772-7f81-4a90-b032-5b13856c074a/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/09bf5772-7f81-4a90-b032-5b13856c074a/index.elated_lalande
nf-core-testsubworkflow/.nextflow/cache/198cb792-24e6-4b8e-b9e4-0874d82b9f5c/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/198cb792-24e6-4b8e-b9e4-0874d82b9f5c/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/198cb792-24e6-4b8e-b9e4-0874d82b9f5c/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/198cb792-24e6-4b8e-b9e4-0874d82b9f5c/index.reverent_hopper
nf-core-testsubworkflow/.nextflow/cache/3472c704-a2b4-45d2-a815-dd2d3e9f2819/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/3472c704-a2b4-45d2-a815-dd2d3e9f2819/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/3472c704-a2b4-45d2-a815-dd2d3e9f2819/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/3472c704-a2b4-45d2-a815-dd2d3e9f2819/index.furious_ardinghelli
nf-core-testsubworkflow/.nextflow/cache/4286040a-0760-4167-a12f-429c462604e3/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/4286040a-0760-4167-a12f-429c462604e3/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/4286040a-0760-4167-a12f-429c462604e3/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/4286040a-0760-4167-a12f-429c462604e3/index.deadly_poisson
nf-core-testsubworkflow/.nextflow/cache/438c4695-2cc4-4e1e-8e95-726ee4e92e4a/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/438c4695-2cc4-4e1e-8e95-726ee4e92e4a/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/438c4695-2cc4-4e1e-8e95-726ee4e92e4a/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/438c4695-2cc4-4e1e-8e95-726ee4e92e4a/index.prickly_lavoisier
nf-core-testsubworkflow/.nextflow/cache/4b1af220-31b5-4a02-acce-834aa2922100/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/4b1af220-31b5-4a02-acce-834aa2922100/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/4b1af220-31b5-4a02-acce-834aa2922100/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/4b1af220-31b5-4a02-acce-834aa2922100/index.compassionate_bernard
nf-core-testsubworkflow/.nextflow/cache/92ddf73a-8289-4251-b988-17d14627413d/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/92ddf73a-8289-4251-b988-17d14627413d/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/92ddf73a-8289-4251-b988-17d14627413d/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/92ddf73a-8289-4251-b988-17d14627413d/index.distraught_volta
nf-core-testsubworkflow/.nextflow/cache/948bfc36-b066-4f1b-9e79-a8c6c1a1c983/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/948bfc36-b066-4f1b-9e79-a8c6c1a1c983/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/948bfc36-b066-4f1b-9e79-a8c6c1a1c983/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/948bfc36-b066-4f1b-9e79-a8c6c1a1c983/index.clever_kalman
nf-core-testsubworkflow/.nextflow/cache/a0d828fb-2c40-41a1-915a-b50339736593/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/a0d828fb-2c40-41a1-915a-b50339736593/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/a0d828fb-2c40-41a1-915a-b50339736593/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/a0d828fb-2c40-41a1-915a-b50339736593/index.focused_lamarck
nf-core-testsubworkflow/.nextflow/cache/b400fc46-2878-4b8c-97e9-790a8e5488b0/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/b400fc46-2878-4b8c-97e9-790a8e5488b0/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/b400fc46-2878-4b8c-97e9-790a8e5488b0/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/b400fc46-2878-4b8c-97e9-790a8e5488b0/index.nasty_chandrasekhar
nf-core-testsubworkflow/.nextflow/cache/d1548a79-fb89-410a-91e9-afb05c3c8166/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/d1548a79-fb89-410a-91e9-afb05c3c8166/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/d1548a79-fb89-410a-91e9-afb05c3c8166/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/d1548a79-fb89-410a-91e9-afb05c3c8166/index.insane_allen
nf-core-testsubworkflow/.nextflow/cache/d7942964-0c31-4f20-bc92-85ffea159439/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/d7942964-0c31-4f20-bc92-85ffea159439/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/d7942964-0c31-4f20-bc92-85ffea159439/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/d7942964-0c31-4f20-bc92-85ffea159439/index.pedantic_church
nf-core-testsubworkflow/.nextflow/cache/d79bf8be-5169-4968-97ba-34ef5c51fde2/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/d79bf8be-5169-4968-97ba-34ef5c51fde2/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/d79bf8be-5169-4968-97ba-34ef5c51fde2/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/d79bf8be-5169-4968-97ba-34ef5c51fde2/index.astonishing_banach
nf-core-testsubworkflow/.nextflow/cache/e8958cab-e4b5-4530-85db-f8e3aade3819/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/e8958cab-e4b5-4530-85db-f8e3aade3819/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/e8958cab-e4b5-4530-85db-f8e3aade3819/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/e8958cab-e4b5-4530-85db-f8e3aade3819/index.grave_albattani
nf-core-testsubworkflow/.nextflow/cache/fb2be968-7add-48ad-a6f6-c7e2419ef955/db/CURRENT
nf-core-testsubworkflow/.nextflow/cache/fb2be968-7add-48ad-a6f6-c7e2419ef955/db/LOCK
nf-core-testsubworkflow/.nextflow/cache/fb2be968-7add-48ad-a6f6-c7e2419ef955/db/MANIFEST-000002
nf-core-testsubworkflow/.nextflow/cache/fb2be968-7add-48ad-a6f6-c7e2419ef955/index.goofy_galileo
nf-core-testsubworkflow/.nextflow/history
nf-core-testsubworkflow/null/pipeline_info/execution_trace_2024-03-24_15-01-34.txt
nf-core-testsubworkflow/null/pipeline_info/execution_trace_2024-03-24_15-01-55.txt
nf-core-testsubworkflow/blah/pipeline_info/pipeline_dag_2024-03-24_15-31-02.html
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-31-02.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-08-26.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-07-05.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-06-47.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-06-17.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-06-05.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-05-43.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-04-12.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-03-46.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-03-17.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-03-05.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-02-32.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_trace_2024-03-24_15-02-08.txt
nf-core-testsubworkflow/blah/pipeline_info/execution_timeline_2024-03-24_15-31-02.html
nf-core-testsubworkflow/blah/pipeline_info/execution_report_2024-03-24_15-31-02.html
